<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FreshVision</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/main.css')}}"></head>
<body>
  {% if error %}
          <script>
            alert("{{ error }}");
          </script>
  {% endif %}
  <div class="login-page">
    <div class="form">
      <form action="/login" method="post">
        <input type="text" placeholder="username" name="username" required/>
        <input type="password" placeholder="password" name="password" required/>
        <button type=submit id="login-button">login</button>
        <p class="message">Not registered? <a href="/register">Create an account</a></p>
      </form>
    </div>
  </div>
</body>
</html>