<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table of Contents Example</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/main.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
  <style>
    
  </style>
</head>
<body>
  <div class="table-of-contents">
    <ul>
      <li><a href="/about">About Us</a></li>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
    <div class="logout">
      <a href="/logout">Logout</a> <!-- Moved Logout link to the right -->
    </div>
  </div>

  <div class="content">
  </div>

  <div class="footer">
    <div class="social-links">
      <a href="#" target="_blank">Facebook</a>
      <a href="#" target="_blank">Twitter</a>
      <a href="#" target="_blank">Instagram</a>
    </div>
    <p>&copy; 2023 Your Website. All rights reserved.</p>
  </div>
</body>
</html>