<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FreshVision</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/favicon.ico')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/main.css')}}"></head>
<body>
  <div class="login-page">
    <div class="form">
      {% if error %}
        <script>
          alert("{{ error }}");
        </script>
      {% endif %}
      <form action="/register" method="post">
        <input type="text" placeholder="name" name="name" required/>
        <input type="password" placeholder="password" name="password" required/>
        <input type="password" placeholder="confirm password" name="cpassword" required/>
        <input type="phone_number" placeholder="phone number" name="phone_num" required/>
        <button type="submit" id="register-button"> create</button>
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
      </form>
    </div>
  </div>
</body>
</html>